.band-name{
    display: flex;
    flex-direction: column;
}
.row{
    border: 1px solid rgb(214, 210, 210);
    
}
.button{
    border-radius: 50%;
    background-color: green;

}
.row input{
    width: 30px;
    border: none;
}
.total{
    background-color: black;
    color:white;
    font-size: 20px;
    width: 1140px;
    margin-left: 105px;

    
}
.total span{
    padding-left: 150px;
}
.total input{
    background-color: black;
    border: none;
    color:white;
}
.row a:hover .row{
    display:none;

}

.espace{
    height: 30px;
    background-color: rgb(214, 210, 210);
}
main{
    background-color: rgb(214, 210, 210);
}
    

.container{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
   
.container span{
    padding-top: 50px;
}
.nav{
    background-color: black;
}

#menu{
    background-color: black!important;
    color: white !important;
    width: 600px;
}
#menu a{
    color:white;
}
#title{
    color:green;
}
#navbarDropdownMenuLink{
    color:red;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    padding-left: 900px;
}
#titre{
    margin-top: 43px;
}
.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.button {
    border-radius: 50%;
    background-color: green;
    width: 30px;
    height: 30px;
    margin-top: 90px;
    margin-right: 15px;
}

#b1{
    border-radius: 50%;
    width: 35px;
    height: 30px;
    margin-top: 93px;
}
#b2{
    margin-top: 93px;
}
#b3{
    border-radius: 50%;
    width: 35px;
    height: 30px;
    margin-top: 93px;
}
#b4{
    margin-top: 93px;


}
#b5{
    border-radius: 50%;
    width: 35px;
    height: 30px;
    margin-top: 93px;
}
#b6{
    margin-top: 93px;  
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: black;
    border: 0;
}
.dropdown-menu.show {
    display: block;
    margin-left: 785px;
}
.dropdown-menu.show {
    display: block;
    background-color: black;
}
#btn1 {
    margin-top: 124px;
}

#btn2{
    margin-top: 124px;

}
#btn4{
    margin-top: 97px;
}
#btn3{
    margin-top: 96px;
}
#d1{
    margin-top: 46px;
}
#d2{
    margin-top: 77px;

}
#d3{
    margin-top: 51px;
    
}
#d4{
    margin-left: -300px;
}
#titre2{
    padding-top: 126px;
}
#titre3{
    padding-top: 100px;
}